---
Checks: "*,-altera-*,-fuchsia-*,-llvmlibc-*,-*-named-parameter, -cppcoreguidelines-pro-bounds-pointer-arithmetic, -google-build-using-namespace, -google-runtime-int"
WarningsAsErrors: ""
HeaderFileExtensions:
  - ""
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: file
User: niklas
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  hicpp-special-member-functions.AllowSoleDefaultDtor: true
  readability-identifier-length.IgnoredVariableNames: "f|i|ii|j|jj|x"
  readability-identifier-length.IgnoredParameterNames: "i|j"
SystemHeaders: false
